@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Philosopher|Spirax');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 50px;
}

.top-nav {
  background: #000;
  /* remove height later on if not needed */
  height: 50px;
  position: fixed; /* different that absolute cuz fixes to window and doesnt still appear when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
}

.top-nav ul li {
  display: inline-block;
}

.top-nav ul {
  text-align: center;
  margin-top: 10px;
}

.top-nav li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-family: "Philosopher", "Arial";
  margin: 0 50px;
}

.top-nav a:hover {
  background: white;
  color: black;
  transition: 0.7s;
}

.landing {
  background: pink;
  height: calc(100vh - 50px); /* vh forces to take up entire height of the viewport window. We do - 50px cuz we want to remove the nav bar. Nav bar is 50 pixels. */
  background-image: url("../images/notes-coffefe.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; /* makes the children elements become flex */
  align-items: center; /* deals with vertical alignment and only works when the parent element has a defined height */
  justify-content: center; /* deals with horizontal alignment */
  color: white;
  text-align: center; /* to center the subhead h3 tag */
  font-family: "Spirax", "Arial", sans-serif;
  text-shadow: 2px 2px green;
  transition: 1s;
}

/* higher media queries go above lower media queries */
@media (max-width: 1600px) {
  .landing {
    font-size: 2.5em;
  }
}



/* its good to put media query immdediatly after the thing it is affecting. The media query only runs if max width is 700px. We can overule the properties that were previously set by .landing */
/*@media (max-width: 700px) {
  .landing {
    background-image: url("../images/pexels-photo-med.jpeg");
    opacity: 0.6;
  }
}*/

.row {
  display: flex;
  padding-top: 5px;

  /* you can use flex-wrap: wrap to prevent flexbox from forcing content to be next to each other */
}

.col-3 {
  margin: 10px;
  padding: 5px;
  width: 33.33%;
  /*border: 2px solid red;*/
}

.col-3 img {
  width: 100%;
}

.mini-content-info p {
  text-align: justify;
  font-family: "Kaushan Script", sans-serif;
}

@media (max-width: 700px) {
  .row {
    display: block;
  }
  .col-3 {
    width: 100%;

  }
  .landing {
    font-size: 1.5em;
  }
}
